<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets">

    <name>MyApp</name>
    <description>Cordova App nader</description>
    <author>Saif uddin</author>

    <content src="index.html" />



    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-icon.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <preference name="AndroidWindowSplashScreenAnimationDuration" value="300" />

    </platform>

</widget>